td{
    padding: 8px;
}

#shimmer{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    background: linear-gradient(100deg,
	rgba(255,255,255,0) 20%,
	rgba(255,255,255,0.5) 50%,
	rgba(255,255,255,0) 80%);


    animation: shimmer 1.5s infinite linear;

}

@keyframes shimmer{
	from {
		transform: translateX(-200%);
	}
	to{
		transform: translateX(200%);
	}
}

.message {
	animation: slide 5s forwards;
  }

  @keyframes slide {
	0% {
	  transform: translateX(100%);
	  opacity: 1;
	}
	75% {
	  transform: translateX(0%);
	  opacity: 1;
	}
	100%{
		transform: translateX(100%);
		opacity: 0;
	}
	
  }